:root
{
    --maincolor: #331d0e;
    --maincolor2: #5b3923;
    --mainhover: #7D6050;
    --lightcolor: #F7F7F2;
    --lightcolor2: rgb(255, 255, 182);
    --lightcolor3 : #5B3923;
    --alert-red-solid : #992c11;
    --alert-red-trans : #ffcbbeef;
    --alert-green-solid : #054b04;
    --alert-green-trans : #91c491f3;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

main
{
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
}

h4
{
    display: flex;
    margin-block: 2rem;
    color: var(--mainhover);
}

.title
{
    color: var(--maincolor);
}

hr
{
    width: 98%;
    border: none;
    border-top: var(--mainhover) 2px solid;
    border-radius: 10px;
}

.cart-items-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--maincolor) 0 0 4px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--lightcolor);
    margin: 20px auto;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-block: 2rem;
}

.item
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 1rem;
    text-align: left;
    box-shadow: var(--mainhover) 0 0 4px;
    width: 90%;
    border-radius: 5px;
    flex-wrap: wrap;
}

.delete-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid #cccccc00;
    border-radius: 50%;
    transition: all .4s;
}
.delete-btn:hover
{
    border: 1px solid var(--mainhover);
}

.delete-btn svg
{
    transform: scale(1.3);
    padding: .5rem;
}

.amount
{
    display: flex;
    gap: 1em;
    align-items: center;
    line-height: 0
}

.amount button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 0;
    border-radius: 50%;
    border: solid transparent 2px;
    background-color: transparent;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}

.amount button span
{
    margin-bottom: 3px;
}

.amount .inc:hover
{
    border-color: solid 1px var(--alert-green-solid);
    color: var(--alert-green-solid);
}

.amount .dic:hover
{
    border-color: solid 1px var(--alert-red-solid);
    color: var(--alert-red-solid);
}

.amount .text-input-amount
{
    width: 2rem;
    height: 2rem;
    font-size: 22px;
    text-align: center;
    border: solid 1px var(--maincolor);
    background-color: transparent;
}

.amount .text-input-amount::placeholder
{
    color: var(--maincolor);
}

.book-detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--maincolor);
}

.price{
    display: flex;
    flex-direction: row-reverse;
    color: var(--alert-green-solid);
    font-weight: 900;
}

.FinalPrice{
    display: flex;
    font-weight: 900;
    font-size: 20px;
    align-items: center;
    gap: 20px;
    color: #331d0e;
    text-transform: capitalize;
}

.cart-control{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px auto;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 16px;
}

.CheckOutBtn{
    background-color: #d2fdd1;
    border: 2px var(--alert-green-solid) solid;
    color: var(--alert-green-solid);
}

.CheckOutBtn:hover{
    background-color: var(--alert-green-trans);
    box-shadow:  0 0 2px;
}


.ClearBtn{
    background-color: var(--alert-red-trans);
    border: 2px var(--alert-red-solid) solid;
    color: var(--alert-red-solid);
}

.ClearBtn:hover{
    background-color: rgba(255, 51, 0, 0.397);
    box-shadow:  0 0 2px;
}